<div id="overlay" onclick="popupClose()"></div>


<div id="uploadPopUp" class="dialog">
    <li class="popupHeader">
        <div class="line"></div>
        <h1>Add layer</h1>
        <div class="line"></div>
    </li>
    <input type="file" id="inputFile">
    <div class="inline-div">
        <h5>Layer name:</h5>
        <input type="text" id="uploaded-layer-name">
        <h5 >Color:</h5>
        <input type="color" value="#3E961B" id="newLayerColor">
    </div>
    <button class="createButton" onclick="uploadLayer()">Upload</button>

</div>

<div id="bufferPopUp" class="dialog">
    <ul>
        <li class="popupHeader">
            <div class="line"></div>
            <h1>BUFFER</h1>
            <div class="line"></div>
        </li>
        <li class="chooseLayer">
            <h2>Choose layer:</h2>
            <div class="layerDropdown">
                <a class="dropdown-toggle" id="chosenBuffer" onclick="toggle($('#layerDropdown-content-buffer'))" value="close"></a>
                <ul class="layerDropdown-content" id="layerDropdown-content-buffer"></ul>
            </div>
        </li>
        <li>
            <h2>Choose buffer distance:</h2>
        </li>
        <li>
            <input class="dialogInput" id="bufferDistance" placeholder="Write a distance in meter">
        </li>
        <li>
            <h2>Buffer color:<input class="inputColor" type="color" value="#243CEE" id="bufferColor"></h2>
        </li>
        <li>
            <button class="createButton" id="createBuffer" onclick="createBuffer()">Create buffer</button>
        </li>
    </ul>
</div>


<div id="withinPopUp" class="dialog">
    <ul>
        <li class="popupHeader">
            <div class="line"></div>
            <h1>WITHIN</h1>
            <div class="line"></div>
        </li>
        <li class="chooseLayer">
            <h2>Choose area that the output layer is within:</h2>
            <div class="layerDropdown">
                <a class="dropdown-toggle" id="chosenAreaWithin" onclick="toggle($('#layerDropdown-content-area-within'))" value="close"></a>
                <ul class="layerDropdown-content" id="layerDropdown-content-area-within"></ul>
            </div>
        </li>
        <li class="chooseLayer">
            <h2>Add output layer:</h2>
            <div class="layerDropdown">
                <a class="dropdown-toggle" id="chosenOutputWithin" onclick="toggle($('#layerDropdown-content-output-within'))" value="close"></a>
                <ul class="layerDropdown-content" id="layerDropdown-content-output-within"></ul>
            </div>
        </li>
        <li>
            <ul class="chosenLayers" id="chosenLayersWithin">

            </ul>
        </li>
            <h2>Set name:</h2>
            <input class="dialogInput" id="withinLayerName">
        <li>
            <h2>Color:<input class="inputColor" type="color" value="#243CEE" id="withinColor"></h2>
        </li>
        <li>
            <button class="createButton" id="createWithin" onclick="createWithin()">Create within</button>
        </li>
    </ul>
</div>


<div id="intersectPopUp" class="dialog">
    <ul>
        <li class="popupHeader">
            <div class="line"></div>
            <h1>INTERSECTION</h1>
            <div class="line"></div>
        </li>
        <li class="chooseLayer">
            <h2>Choose area that the output layer intersects:</h2>
            <div class="layerDropdown">
                <a class="dropdown-toggle" id="chosenAreaIntersect" onclick="toggle($('#layerDropdown-content-area-intersect'))" value="close"></a>
                <ul class="layerDropdown-content" id="layerDropdown-content-area-intersect"></ul>
            </div>
        </li>
        <li class="chooseLayer">
            <h2>Add output layer:</h2>
            <div class="layerDropdown">
                <a class="dropdown-toggle" id="chosenOutputIntersect" onclick="toggle($('#layerDropdown-content-output-intersect'))" value="close"></a>
                <ul class="layerDropdown-content" id="layerDropdown-content-output-intersect"></ul>
            </div>
        </li>
        <li>
            <ul class="chosenLayers" id="chosenLayersIntersect">

            </ul>
        </li>
        <h2>Set name:</h2>
        <input class="dialogInput" id="intersectLayerName">
        <li>
            <h2>Color:<input class="inputColor" type="color" value="#243CEE" id="intersectColor"></h2>
        </li>
        <li>
            <button class="createButton" id="createIntersection" onclick="createIntersection()">Create intersection</button>
        </li>
    </ul>
</div>



<div id="mergePopUp" class="dialog">
    <ul>
        <li class="popupHeader">
            <div class="line"></div>
            <h1>MERGE</h1>
            <div class="line"></div>
        </li>
        <li class="chooseLayer">
            <h2>Add first layer:</h2>
            <div class="layerDropdown">
                <a class="dropdown-toggle" id="chosenMerge1" onclick="toggle($('#layerDropdown-content-merge1'))" value="close"></a>
                <ul class="layerDropdown-content" id="layerDropdown-content-merge1"></ul>
            </div>
        </li>
        <li class="chooseLayer">
            <h2>Add second layer:</h2>
            <div class="layerDropdown">
                <a class="dropdown-toggle" id="chosenMerge2" onclick="toggle($('#layerDropdown-content-merge2'))" value="close"></a>
                <ul class="layerDropdown-content" id="layerDropdown-content-merge2"></ul>
            </div>
        </li>
        <h2>Set name:</h2>
        <input class="dialogInput" id="mergeLayerName">
        <li>
            <h2>Color:<input class="inputColor" type="color" value="#243CEE" id="mergeColor"></h2>
        </li>
        <li>
            <button class="createButton" id="createMerge" onclick="createMerge()">Merge layers</button>
        </li>
    </ul>
</div>


<div id="differencePopUp" class="dialog">
    <ul>
        <li class="popupHeader">
            <div class="line"></div>
            <h1>DIFFERENCE</h1>
            <div class="line"></div>
        </li>
        <li class="chooseLayer">
            <h2>Add output area:</h2>
            <div class="layerDropdown">
                <a class="dropdown-toggle" id="chosenDifference1" onclick="toggle($('#layerDropdown-content-difference1'))" value="close"></a>
                <ul class="layerDropdown-content" id="layerDropdown-content-difference1"></ul>
            </div>
        </li>
        <li class="chooseLayer">
            <h2>Add intersecting area:</h2>
            <div class="layerDropdown">
                <a class="dropdown-toggle" id="chosenDifference2" onclick="toggle($('#layerDropdown-content-difference2'))" value="close"></a>
                <ul class="layerDropdown-content" id="layerDropdown-content-difference2"></ul>
            </div>
        </li>
        <h2>Set name:</h2>
        <input class="dialogInput" id="differenceLayerName">
        <li>
            <h2>Color:<input class="inputColor" type="color" value="#243CEE" id="differenceColor"></h2>
        </li>
        <li>
            <button class="createButton" id="createDifference" onclick="createDifference()">Create layer</button>
        </li>
    </ul>
</div>


<div id="clipPopUp" class="dialog">
    <ul>
        <li class="popupHeader">
            <div class="line clip"></div>
            <h1>CLIP</h1>
            <div class="line clip"></div>
        </li>
        <li><img id="clipImg" src="../images/clip_text.png"></li>
        <li class="chooseLayer">
            <h2>Add input layer:</h2>
            <div class="layerDropdown">
                <a class="dropdown-toggle" id="chosenClipInputLayer" onclick="toggle($('#layerDropdown-content-clip-inputlayer'))" value="close"></a>
                <ul class="layerDropdown-content" id="layerDropdown-content-clip-inputlayer"></ul>
            </div>
        </li>
        <li class="chooseLayer">
            <h2>Add clip layer:</h2>
            <div class="layerDropdown">
                <a class="dropdown-toggle" id="chosenClipClipLayer" onclick="toggle($('#layerDropdown-content-clip-inputlayer'))" value="close"></a>
                <ul class="layerDropdown-content" id="layerDropdown-content-clip-cliplayer"></ul>
            </div>
        </li>
        <li id="clipLi">
            <h2>Set name:</h2>
            <input class="dialogInput" id="clipLayerName">
            <h2>Color:<input class="inputColor" type="color" value="#243CEE" id="clipColor"></h2>
        </li>
        <li>
            <button class="createButton" id="createClip" onclick="createClip()">Clip layers</button>
        </li>
    </ul>
</div>

<div id="changeDesignPopUp" class="dialog">
    <div id="changeDesignContent">
        <ul>
            <li class="popupHeader">
                <div class="line clip"></div>
                <h1>STYLE</h1>
                <div class="line clip"></div>
            </li>
            <li class="inline">
                <h2>Color:<input type="color" id="color"></h2>
                <h2 class="secondElement" >Opacity:<input class="inputText" type="range" min="0" max="1" step="0.01" id="opacity"></h2>
            </li>
            <li class="inline" id="lineStyle">
                <h2>Line-color:<input type="color" id="lineColor"></h2>
                <h2 class="secondElement">Line-width:<input class="inputText" type="range" min="0" max="5" step="0.1" id="lineWidth"></h2>
            </li>
            <li>
                <button class="createButton" id="saveColorChanges" onclick="saveStyleChanges()">Save changes</button>
            </li>
        </ul>
    </div>
</div>


<div id="cartodb-map">

</div>



<div class="menus">

    <div class="container-fluid">

        <nav class="col-sm-12 navbar navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="#/projects"><h1>GISTYLE</h1></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <form class="navbar-form navbar-right" style="margin-top:20px;">
                        <div class="form-group">
                            <a class="navbar-buttons" href="#/tutorial" id="tutorial">Tutorials</a>
                        </div>
                        <div class="form-group">
                            <a class="navbar-buttons" id="info">Info</a>
                        </div>
                        <div class="form-group">
                            <a id="logOut" href="#/logout">Log out</a>
                        </div>
                    </form>
                </div><!--/.navbar-collapse -->
            </div>
        </nav>

        <div class="row">
            <div class="col-md-2" id="col-sidebar">
                <div class="sidebar-menu">
                    <!--SIDE BAR START-->
                    <div id="sidebar">
                        <ul class="sidebar-brand">
                            <a href="" id="layerHeader">LAYERS <img src="../../images/triangle_down.png"/></a>
                            <div class="dropdown" >
                                <ul id="menuLayerDropdown"></ul>
                            </div>

                            <div class="operators">
                                <h2>TOOLS</h2>
                                <li>
                                    <img id="bufferImg" class="toolFigure" src="../images/Buffer.png">
                                    <a  href="" onclick="buffer()">Buffer</a>
                                </li>
                                <li>
                                    <img class="toolFigure" id="intersectionImg" src="../images/intersection.png">
                                    <a href="" onclick="within()">Within</a>
                                </li>
                                <li>
                                    <img class="toolFigure" id="intersectionImg" src="../images/intersection.png">
                                    <a href="" onclick="intersection()">Intersection</a>
                                </li>
                                <li>
                                    <img id="mergeImg" class="toolFigure" src="../images/merge.png">
                                    <a href="" onclick="merge()">Merge</a>
                                </li>
                                <li>
                                    <img id="differenceImg" class="toolFigure" src="../images/difference.png">
                                    <a href="" onclick="difference()">Difference</a>
                                </li>
                                <!--<li>
                                    <a href="" onclick="clip()">Clip</a>
                                </li>
                                <li>
                                    <a href="" onclick="">Dissolve</a>
                                </li>-->
                            </div>
                            <div id="addLayerDiv" onclick="newLayer()">
                                <i class="fa fa-plus" id="plus"></i>
                                <a href="" id="uploadLayer">Add new layer</a>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

