
<div id="map"></div>
<div class="menus">
    <nav class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <h1>GISTYLE</h1>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form navbar-right" style="margin-top:20px;">
                    <div class="form-group">
                        <a class="navbar-buttons" id="tutorial">Tutorials</a>
                    </div>
                    <div class="form-group">
                        <a class="navbar-buttons" id="info">Info</a>
                    </div>
                    <div class="form-group">
                        <a id="help">Help</a>
                    </div>
                </form>
            </div><!--/.navbar-collapse -->
        </div>
    </nav>
</div>
