<div class="login-page">
    <div class="background-img"></div>
    <div class="login-content">
        <div class="login-top-panel">
            <h1 id="gistyle">GISTYLE</h1>
            <div class="login-top-right">
                <div id="activeButton">
                    <a id="signUp">Sign up</a>
                    <div class="underline"></div>
                </div>
                <p id="split">|</p>
                <a href="#/login">Log in</a>
            </div>
        </div>
        <div class="row">
            <div class="login-popup-background"></div>
            <div class="signUp-popup">
                <div class="col-lg-6">
                    <img id="icon" src="../stylesheets/map-icon.png"/>
                </div>
                <div class="col-lg-6">
                    <form name="form" ng-submit="register()" class="signUp-form">

                            <ul>
                                <li id="login-text">
                                    <div class="line"></div>
                                    <h4 id="login-head">  SIGN UP  </h4>
                                    <div class="line"></div>
                                </li>
                                <li><div ng-show="error" class="alert alert-danger">{{errorMessage}}</div></li>
                                <li><input id="mail" class="form-control" ng-model="registerForm.username" name="username" required placeholder="Enter email"/></li>
                                <li><input type="password" class="form-control" ng-model="registerForm.password" name="password" required id="password" placeholder="Password"/></li>
                                <li><input type="password" ng-model="registerForm.repeatedPassword" name="repeatedPassword" id="passwordAgain" placeholder="Repeat password"/></li>
                                <li><button type=submit id="login-button" ng-disabled="disabled" class="btn btn-default" > Sign up </button></li>
                            </ul>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
