<div class="menus" id="tutorial-container">
  <div class="background-img"></div>
  <div class="image-overlay"></div>
  <div class="container-fluid" id="scrollArea" >
    <div class="row">
      <nav class="col-sm-12 navbar navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a href="#/projects"><h1>GISTYLE</h1></a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" style="margin-top:20px;">
              <div class="form-group">
                <a class="navbar-buttons" id="tutorial">Tutorials</a>
              </div>
              <div class="form-group">
                <a class="navbar-buttons" id="info">Info</a>
              </div>
              <!-- <div class="form-group">
              <a class="navbar-buttons" id="help">Help</a>
            </div> -->
            <div class="form-group">
              <a id="logOut" href="#/logout">Log out</a>
            </div>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
  </div>


  <div class="row" id="tutorial-content" >
    <div class="col-sm-10" id="tutorial-col">

      <div class="row">
        <div class="tutorialPoint-left anchor" id="anchorProject">
          <div class="tutorialText">
            <h1>Projects</h1>
            <p> You can create your own projects by clicking on new projects. All changes you do on the project
              will be saved. Delete project by clicking x on the project you want to delete.</p>
            </div>

            <div class="tutorial">
              <video class="video" controls loop autoplay>
                <source src="../videos/projects2.mp4" type="video/mp4">
              </video>
            </div>

          </div>
        </div>

        <div class="red-line-tutorial"></div>

        <div class="row">
          <div class="tutorialPoint-right anchor" id="anchorLayer">

            <div class="tutorial">
              <video class="video" controls loop autoplay>
                <source src="../videos/projects2.mp4" type="video/mp4"></source>
              </video>
            </div>

            <div class="tutorialText">
              <h1>Layers</h1>
              <p> Layers contains different spatial data, example rivers. You can view and hide
                the layers by clicking the eye icon, and you can delete a layer by clicking the trashcan icon.
              </p>
            </div>
          </div>
        </div>

          <div class="red-line-tutorial"></div>

          <div class="row">
            <div class="tutorialPoint-left anchor" id="anchorBuffer">
              <div class="tutorialText">
                <h1>Buffer</h1>
                <p> You can create your own projects by clicking on new projects. All changes you do on the project
                  will be saved. Delete project by clicking x on the project you want to delete.</p>
              </div>
              <div class="tutorial">
                <video class="video" controls loop autoplay>
                  <source src="../videos/projects2.mp4" type="video/mp4"/>
                </video>
              </div>
            </div>
          </div>

          <div class="red-line-tutorial"></div>

          </div>
          <nav class="col-sm-2">
            <!-- side navbar -->

            <div class="fixed-menu">
              <div id="scroll-line"></div>
              <a href="" ng-click="gotoAnchor(x)" ng-repeat="x in ['Project','Layer','Buffer','Intersection', 'Difference', 'Merge']">
                <ul><li>{{x}}</li></ul>
              </a>
            </div>

          </nav>

        </div><!-- end row-->

      </div> <!-- end container-->
  </div>
