<!--
<nav class ="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <h1> GISTYLE </h1>
        </div>

        <div class="navbar-buttons navbar-right">
           <div class="row">
                <a>Sign up</a>
                <p>|</p>
                <a>Log in</a>
           </div>
        </div>
    </div>
</nav>-->


<div class="welcome-page">
    <div class="background-img"></div>
    <div class="background">
        <div class="welcome-content">
            <div class="welcome-top-panel">
                <h1>GISTYLE</h1>
                 <span class="top-right">
                  <a href="#/register">Sign up</a>
                  <p id="split">|</p>
                    <a href="#/login">Log in</a>
                 </span>
            </div>
            <div class="red-line"></div>
        </div>




        <div class="welcome-content">
            <div class="welcomeText">
                <h1 id="wel-header">Welcome to GISTYLE!</h1>
                <p>GISTYLE is a an application made as a project in the course Programming in geomatics at NTNU.
                    With GISTYLE you can do both geographical analysis, and also style your map to visualize the information the way you want.
                    <br><br>
                    A good way to get started is to look at the tutorials, which you can find in the top menu once logged in.

                  <br><br>
                    <a href="#/register">Sign up</a> to start using!
                </p>
            </div>
        </div>
    </div>
</div>
