a{
  cursor: pointer;
}
body a:hover{
  color: #dadfd5 !important;
}

$nav-color:rgba(0,0,0,0.58);

#cartodb-map{

  z-index:1;
  width: 100%;
  height: 100vh;
  position: fixed;
  display: block;
}

.menus{
  z-index:2;
}
.navbar{
  z-index: 2;
  h1{
    color:white;
    margin-top: 10px;
    text-shadow:2px 2px rgba(0, 0, 0, 0.42);
  }
  font-size: medium;
  background-color:rgba(0, 0, 0, 0);
  background: rgba(0,0,0,0.58);
  background: -moz-linear-gradient(left, rgba(0,0,0,0.58) 0%, rgba(0,0,0,0.58) 45%, rgba(0,0,0,0.92) 94%, rgba(0,0,0,0.92) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0.58)), color-stop(45%, rgba(0,0,0,0.58)), color-stop(94%, rgba(0,0,0,0.92)), color-stop(100%, rgba(0,0,0,0.92)));
  background: -webkit-linear-gradient(left, rgba(0,0,0,0.58) 0%, rgba(0,0,0,0.58) 45%, rgba(0,0,0,0.92) 94%, rgba(0,0,0,0.92) 100%);
  background: -o-linear-gradient(left, rgba(0,0,0,0.58) 0%, rgba(0,0,0,0.58) 45%, rgba(0,0,0,0.92) 94%, rgba(0,0,0,0.92) 100%);
  background: -ms-linear-gradient(left, rgba(0,0,0,0.58) 0%, rgba(0,0,0,0.58) 45%, rgba(0,0,0,0.92) 94%, rgba(0,0,0,0.92) 100%);
  background: linear-gradient(to right, rgba(0,0,0,0.58) 0%, rgba(0,0,0,0.58) 45%, rgba(0,0,0,0.92) 94%, rgba(0,0,0,0.92) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
}

.navbar-fixed-top{
  z-index: 10!important;
}

.navbar-buttons{
  padding-right: 80px;
}

.sidebar-menu{
  background-color: rgba(0,0,0,0.58);
  margin-top: 60px;
  height: 100vh;
  width: 275px;

}

.fa{
  margin-top: 3px;
  color: white;
}

.inactive{
  color: grey;
}

.fa:hover{
  cursor: pointer;
}

#sidebar{
  height: calc(100vh - 60px);
  overflow-y: scroll;
  h2{
    padding-top:4%;
    color: white;
    padding-bottom: 2%;
    font-size:150%;
  }

  input[type=checkbox]{
    margin-left: 5px;
  }

  .sidebar-brand{
    padding-left: 9%;
  }
  a{
    color:white;
    font-size: large;
  }
  #layerHeader{
    font-size:150%;
  }
  img{
    margin-top: 2px;
    width: 11px;
  }
  .operators img{
    width:30px;
    margin-bottom: 10px;
  }
  #intersectionImg{
    transform: rotate(-100deg);

  }
  #differenceImg{
    transform: rotate(-20deg);
  }
  #bufferImg{
    width:9%;
  }

  #menuLayerDropdown{
    padding-left: 0;
    height:auto;
    max-height: 200px;
    overflow-y: scroll;
  }
  .dropdown{
    background-color: rgba(0, 0, 0, 0.73);
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin-right: 5%;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.44);
    li{
      display: table;
    }
    .btnDiv{
      position: relative;
      margin-left: 175px;
    }
    a{
      position: absolute;
      width: 162px;
      overflow-x: scroll;
      font-size: medium;
      margin-left: 3%;
    }
    img{
      // float: right;
      width: 14px;
      margin-left: 7px;
    }
    .trashLayer{
      margin-left: 6px;
    }
    img:hover{
      cursor:pointer;
    }
  }

  .operators{
    margin-top: 20px;
    margin-bottom: 50px;
    li{
      margin-top: 10px;
    }
  }
}
#col-sidebar{
  z-index: 2;
  padding-left: 0px;
  padding-right: -20px;
}

#overlay{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}


.dialog{
  position: absolute;
  color: white;
  background-color: rgba(16, 16, 16, 0.69);
  z-index: 999;
  top: 16%;
  left: 38%;
  padding-bottom: 20px;
  padding-right:5%;
  padding-left: 5%;
  display: none;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.7);

  .chosenLayer{
    color:black!important;
  }

  .popupHeader {
    display: flex;

    .line {
      width: 32%;
      height: 3px;
      background-color: rgb(234, 109, 121);
      margin-top: 35px;
    }
    .clip{
      width:40%;
    }
    h1{
      font-size: 210%;
      margin-right:10px;
      margin-left:10px;
    }
  }

  h2{
    font-size: medium;
  }
  .layerDropdown{
    position: inherit;
    background-color: #fcfffc;
    height: 25px;
    border-radius: 2px;
    cursor: pointer;
    a {
      color: rgba(96, 95, 93, 0.69);
      padding-left: 3px;
    }
  }

  .chosenLayers{
    color: black;
    h2{
      font-size:100%;
      margin:0;
      display: initial;
    }
  }

  .layerDropdown-content{
    padding-left:0;
    margin-top: 4px;
    border-top: solid 1px;
    border-color: grey;
    background-color: #fcfffc;
    color: black;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    display:none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    position: relative;
    a {
      color: black;
      padding-right: 0;
      text-decoration: none;
    }
    li:hover {
      background-color: rgba(181, 181, 181, 0.85);
    }
    li{
      border-bottom: solid 1px;
      border-color: grey;
      height: 30px;
      padding-top: 5px;
    }
  }

  .popupClose{
    right:0;
    top:0;
    position: absolute;
    margin-right: 0.5em;
    margin-top: 0.2em;
  }
  .chosenLayers{
    padding-left:0;
    background-color:#d9dcd9;

  }
  img{
    width: 14px;
    margin-left: 10px;
  }
  #clipImg{
    margin-top: 10px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .li-layer{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:3px;
  }
}


.dialogInput{
  background-color: #fcfffc;
  width: 20vw;
  height: 25px;
  border-radius: 3px;
  padding-left: 3px;
  border: none;
  color: rgba(18, 17, 15, 0.92);
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: rgba(96, 95, 93, 0.69);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: rgba(96, 95, 93, 0.69);
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: rgba(96, 95, 93, 0.69);
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(96, 95, 93, 0.69);
}

.inputColor{
  margin-left: 7px;
}

.createButton{
  color: white;
  background-color: #ee5664;
  border: none;
  width: 150px;
  margin-left: auto;
  margin-right:auto;
  display: block;
  margin-top: 14%;
  border-radius: 3px;
  height: 30px;
}

#clipPopUp{
  #createClip{ //clip button
    margin-top: 10%;
  }

  #clipPopUp{
    top: 15%;
    left: 35%;
  }


  #clipLi{
    display: flex;
    margin-top: 3%;
  }

  #clipLayerName{
    margin-top:4%;
    width: 55%;
    margin-left: 2.5%;
    margin-right: 5%;
  }
}


#changeDesignPopUp{
  width:500px;
  padding:0;

  ::-webkit-input-placeholder {
    color: #545454;
  }
  input[type=range]{
    width: 60%;
  }

  .popupHeader{
    margin-right:30px;
  }
  .inline{
    display: flex;
    //margin-left:20px;
  }
  .secondElement{
    display:-webkit-inline-box;
    margin-left: 60px;
  }
  #color{
    margin-left: 45px;
  }
  #lineColor{
    margin-left: 10px;
  }
  #opacity{
    margin-left: 30px;
  }
  #lineWidth{
    margin-left: 10px;
  }
  .active{
    color:black;
  }
  #changeDesignPopUp{
    display: flex;
  }
}


#addLayer{
  font-size: 1.5em!important;
}

#uploadPopUp{
  width: 485px;
  h1{
    width: 122%;
    margin-left: 20px;
    margin-bottom: 30px;
    text-align: center;
  }
  .line{
    width: 62%;
  }

  #inputFile{
    width: 80%;
    margin-bottom: 20px;
  }
  .inline-div{
    display: inline-flex;
  }
  #newLayerColor{
    margin-top: 7px;
    margin-left:10px;
  }
  #uploaded-layer-name{
    color: black;
    height:23px;
    margin-top:6px;
    margin-left:10px;
    margin-right:20px;
  }
}

.image-info{
  width:250px!important;
}

#nameForDrawnLayerPopup{
  h1{
    width:60%;
  }
}

#intersectPopUp, #withinPopUp{
  padding-left: 3%;
  padding-right: 3%;
  ul{
    padding-left: 0;
  }
  .content{
    display: -webkit-inline-box;
  }
  .inputs{
    width: 48%;
    .dialogInput{
      width: 100%;
    }
  }
  img{
    margin-top: 30%;
    margin-left: 7%;
  }
  .createButton{
    margin-top: 4%;
  }
}

#withinPopUp{
  img{
    margin-top: 16px;
  }
  .popupHeader{
    margin-left: 7%;
  }
}
#mergePopUp{
  img{
    margin-left: 62px;
  }
  .createButton{
    margin-top: 0;
  }
}

.popupContent{
  display: -webkit-box;
  img{
    margin-left: 27px;
    margin-top: 17%;
  }
}

#mergePopUp, #bufferPopUp{
  ul{
    padding-left:0;
  }
}

#overpass-turbo{
  display: inline-table;
  a:active{
    color:white;
    text-decoration: none;
  }
  a:visited{
    color:white;
    text-decoration: none;
  }
}
