.addProject{
  cursor: pointer;
  background-color: #9f9f9f;
  color: white;
  width: 40%;
  margin-left:75px;
  display: inline-block;
  margin-top: 20%;
  border-radius: 14px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.08);

  h4{
    text-align: center;
  }

  #plus{
    font-size:400%;
    text-align: center;
    margin-left: 24px;
    margin-top: 5px;
  }
}

#col-sidebar{
  width:300px;
}

//other style for specific width
@media (max-width: 1200px){
  .projectDiv{
    margin-left: 30px;
  }
}

.projectDiv{

  margin-top: 100px;
  margin-left: 50px;
  margin-bottom: 8%;

  .projectElement{
    background-color: white;
    z-index: 10;
    position: absolute;
    width: 200px;
    text-align: center;
    color: black;
    box-shadow: 2px 3px 7px #b9b8b8;
    img{
      margin:auto;
      width: 160px;
      margin-top: 20px;
    }

  }

  .projectElement:hover{
    box-shadow: 5px 5px 5px rgba(136, 136, 136, 0.48);
  }
  h5, img{
    cursor: pointer;
  }
  .deleteProject{
    color: #bebebe;
    font-size: 1.2em;
    right: 0;
    margin-top: 0;
    margin-right: 5px;
    position: absolute;
  }
  .deleteProject:hover{
    font-size: 1.4em;
    color: black;
    text-shadow: 5px 5px 5px rgba(136, 136, 136, 0.48);
  }

}

.overlay{

}

#noProjects{
  z-index: 10;
  margin-top: 20%;
  left: 30%;
  color: grey;
  position: absolute;
}

#deleteProjectPopUp{
  color:white;
  height: 180px;
  width:500px;
}

#newProjectPopUp{
  color:black;
  height: 230px;
  width: 500px;
  button{
    width:200px;
  }
}

#newProjectPopUp, #deleteProjectPopUp{
  z-index:100;
  position: absolute;
  background-color: rgba(1, 1, 1, 0.67);
  margin: 0 auto;
  left: 45%;
  top: 40%;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
  display: none;
  font-size: 17px;


  .popupContent{
    margin-left:10%;
    margin-right:10%;
    margin-top: 10%;
    text-align: center;
    button{
      margin-top: 40px;
    }
  }
  .popupHeader{
    color: white;
    margin-bottom: 20px;
  }
  input{
    width: 90%;
    height: 35px;
    font-size: medium;
  }
  ul, li{
    margin-left:0;
    padding-left:0;
  }
}
