
#tutorial-container{
  overflow: auto;
}
.tutorial-row{
  height: 325px;
  margin-top: 10px;
}

.background-img{
  z-index: -1;
}
.image-overlay{
  background-color: rgba(231,227,227,0.70);
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
}
.red-line-tutorial{
  background-color: #ee5664;
  height: 5px;
  display: -webkit-box;
}

.fixed-menu{
  position: fixed;
  display: -webkit-inline-box;
  padding-top: 5%;
  right:5%;
  font-size: 1.3em;
  margin-top: 90px;

  .menu-content{
    margin-left: 42px;
  }
  a{
    color:black;
    display: table-caption;
    cursor: hand;
    margin-top: 20px;
  }
  li{
    padding-left: -5px;
    padding-top: 10px;
  }
  #scroll-line{
    height:270px;
    width: 5px;
    background-color: grey;
    margin-right: -22px;
  }
}

#tutorial-content{
  width: 70%;
  z-index: 2;
  margin-top:70px;
  margin-left: 15%;
  height: 100vh;
  display: -webkit-inline-box;

  #tutorial-col{
    // width: 80%;
    width: 100%;
    height: calc(100vh - 70px);
    overflow-y: scroll;
  }

  h1{
    margin-left:17px;
    padding-bottom: 20px;
    font-size: 2.5em;
  }
  p{
    margin-left:17px;
    font-size: 1.2em;
  }
  .tutorialPoint-left{
    display: -webkit-inline-box;
    height: 100%;
    width: 100%;
    p{
      margin-right:0;
    }
    .tutorialText{
      width:45%;
      margin-right: 5%;
    }
  }
  .tutorialPoint-right{
    display: -webkit-inline-box;
    width: 100%;
    // height: 100%;
    .tutorialText{
      width:45%;
      margin-left: 5%;
    }
  }
  .tutorial{
    width: 50%;
    iframe{
      width: 100%;
    }
  }

  // #scrollArea{
  //   overflow: auto;
  //   overflow-y:scroll;
  //   height:3000px;
  //   position: relative;
  // }
  #endSpace{
    height: 40px;
  }
}

#layers-row{
  height: 400px;
  .tutorial{
    margin-top: 40px;
  }
}
